main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 736px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-bottom: 70px;
  margin-top: -2rem;
}

.addTaskInput {
  flex: 1;
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
}

.addTaskButton {
  padding: 16px;
  background-color: var(--blue-700);
  border-radius: 8px;
  color: var(--gray-100);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.tasksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
